@import 'shell';
@import 'editor';

body {
    margin: 0px;
    height: 100%;

    #boss {
        background: black;
        height: 100vh;

         .navbar {
            background: #4444ff;
            font-family: monospace;
            font-size: 1.1em;
            margin-bottom: 4px;
            color: lightgrey;

            .navbar-section {
                padding: 5px;
            }

            a {
                margin-left: 25px;
                text-decoration: none;
                color: lightgrey;
            }

            a:hover {
                color: whitesmoke;
            }
        }

        #logo {
            position: absolute;
            top: 50%;
            left: 50%; 
            transform: translate(-50%, -50%); 
            font-family: monospace;
            font-size: 200px;
            color: rgba(100,100,100,0.3);
            z-index:1;
        }

        .menu {
            margin-top: 2px;
            background: lightgrey;
            font-family: monospace;
            border-radius: 0px;
            box-shadow: 5px 5px #4444ff;

            a {
                color: #333333;
            }

            a:hover {
                color: #888888;
            }

             a:active {
                color: #888888;
                background: lightgrey;
            }
        }

        .modal-small {
            width: 30rem !important;
        }

        .modal-container {
            background: lightgrey;
            color: #333333;
            font-family: monospace;
            border-radius: 0px;
            box-shadow: 5px 5px #4444ff;

            pre {
                background: #4444ff;
                border-left: 0px;
                color: lightgrey;
            }

            .modal-body {
                padding: 5px;
            }

            .modal-header {
                margin: 5px !important;
                padding: 5px;
                border-width: 0px 0px 1px 0px;
                border-color: #777777 !important;
                border-style: solid;
            }

            .modal-footer {
                padding: 5px;
            }

            .btn {
                border: 0px;
                color: #111111;
                background: lightgrey !important;
                border-radius: 0px;
            }

            .btn:hover {
                border: 0px;
                color: lightgrey;
                background: #333333 !important;
                border-radius: 0px;
            }

            .btn:focus {
                border: 0px;
                color: lightgrey;
                background: #333333 !important;
                border-radius: 0px;
            }

            .btn.btn-clear {
                color: #111111;
                background: lightgrey !important;
            }
        }

        #glayout {
            width: 100%;
            height: 94.5vh;

            .lm_header .lm_tab{
                box-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
            }

            li.lm_popout {
                margin-top: 0px !important;
            }

            li.lm_maximise {
                margin-top: 0px !important;
            }

            li.lm_close {
                margin-top: 0px !important;
            }

            .app {
                height:99%;
            }
        }
    }
}
