body {
    margin:0px;
    width: 100%;
}

#boss {
    background-color:#111111;

    .app {
        height:99.2%;

        .editor {
            margin: 2px;
            padding:5px;
            height:98.5%;
        }

        .shell {
            margin: 2px;
            padding:5px;
            height:98.5%;
        }
    }
}