.todo-app {
    margin: 2px;
    padding:20px;
    height: 98.5%;
    background-color: lightgrey;
    overflow-y: scroll;

            .blue-b {
                border: 0px;
                color: lightgrey; 
                background: #4444ff !important;
                border-radius: 0px;
            }

            .blue-b:hover {
                border: 0px;
                color: #333333;
                background: lightgrey !important;
                border-radius: 0px;
            }

            .blue-b:focus {
             border: 0px;
                color: #333333;
                background: lightgrey !important;
                border-radius: 0px;
            }

            .light-b {
                border: 0px;
                color: #111111;
                background: lightgrey !important;
                border-radius: 0px;
            }

            .light-b:hover {
                border: 0px;
                color: lightgrey;
                background: #333333 !important;
                border-radius: 0px;
            }

            .light-b:focus {
                border: 0px;
                color: lightgrey;
                background: #333333 !important;
                border-radius: 0px;
            }

             .dark-b {
                border: 0px;
                color: lightgrey; 
                background: #333333 !important;
                border-radius: 0px;
            }

            .dark-b:hover {
                border: 0px;
                color: #333333;
                background: lightgrey !important;
                border-radius: 0px;
            }

            .dark-b:focus {
                border: 0px;
                color: #333333;
                background: lightgrey !important;
                border-radius: 0px;
            }

            textarea {
                background-color: lightgrey;
                color: #333333;
                border: 0px;
                padding: 1px;
                box-shadow: 3px 3px #333333;
                font-family: monospace;
            }

            pre {
                background-color: lightgrey;
                border: 0px;
                padding: 10px 10px;
                min-width: 100px;
                margin: 10px 0px;
            }

    .todo-container {
        border: 1px solid #333333;
        padding: 10px;
        margin-top: 25px;
        min-width:550px;

        #todos {
            margin: -35px 0px 10px 0px;

            .btn {
                padding: 7px 2px;
            }

            .todo-title {
                font-weight: bold;
            }
        }

        ul {
            list-style-type: none;
        }

        .todos-title {
            display: inline-block;
            position: relative;
            top: -30px;
            background-color: lightgrey;
            padding: 10px;
            font-weight: bold;
        }
    }

    .edit-container {
        margin: 5px 0px;
        background-color: #4444ff;
        padding: 10px;
        display: inline-block;

        .add-new {
            border: 1px solid lightgrey;
            padding: 10px;
            display: inline-block;

            .add-new-title {
                padding: 0px 5px;

                color: lightgrey;
                background-color: #4444ff;
                display: inline-block;
                position: relative;
                top: -20px;
                font-weight: bold;
            }
        }
    }
}